/* ----------------  */
/* Custom Properties */
/* ----------------  */

:root {
	--clr-accent-400: 150, 100%, 63%;

	--clr-primary-100: 0, 0%, 100%;
	--clr-primary-200: 274, 100%, 99%;
	--clr-primary-700: 271, 12%, 34%;
	--clr-primary-800: 273, 85%, 13%;

	--ff-serif: 'Fraunces', serif;
	--ff-sans-serif: 'Manrope', sans-serif;

	--fw-900: 900;
	--fw-700: 700;
	--fw-600: 600;
	--fw-500: 500;
	--fw-400: 400;

	--fs-900: clamp(3.13rem, 3.31vw + 2.35rem, 5rem);
	--fs-800: clamp(2rem, 2.65vw + 1.38rem, 3.5rem);
	--fs-700: clamp(1.75rem, 0.44vw + 1.65rem, 2rem);
	--fs-600: ;
	--fs-500: ;
	--fs-400: 1rem;
	--fs-300: ;
	--fs-200: ;

	--transition: all 0.5s ease;
}

@media (min-width: 40em) {
	:root {
		--fs-800: 5rem;
		--fs-700: 2.5rem;
		--fs-600: 1.5rem;
		--fs-500: 1.25rem;
		--fs-400: 1.125rem;
	}
}

/* ----------------  */
/* Reset             */
/* ----------------  */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	text-wrap: pretty;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* General Styles */
html {
	background-color: var(--clr-primary-100);
}

body {
	font-family: var(--ff-sans-serif);
	font-size: var(--fs-400);
	line-height: 1.75;
	text-align: center;
	color: hsl(var(--clr-primary-800));
}

.wrapper {
	margin-inline: auto;
	padding-inline: 1rem;
	width: min(100vw, 69rem);
}

main {
	overflow: hidden;
}

@media (min-width: 40em) {
	body {
		line-height: 2;
	}
}

h1,
h2,
h3 {
	font-family: var(--ff-serif);
	font-weight: var(--fw-600);
	line-height: 1;
}

h1 {
	font-size: var(--fs-900);
	color: hsl(var(--clr-primary-100));
	text-align: center;
	max-width: 40rem;
	margin-bottom: 2rem;
}

h2 {
	font-size: var(--fs-800);
}

h3 {
	font-size: var(--fs-700);
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
}

/* -----------------  */
/* Utility Classes    */
/* -----------------  */

/* General */

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.flex-col {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.place-content-center {
	place-content: center;
}

.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.underline {
	text-decoration: underline;
	text-decoration-color: hsl(var(--clr-accent-400));
	text-decoration-thickness: 0.05em;
}

/* Typography */

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}

/* ----------------  */
/* Components        */
/* ----------------  */

header {
	background-color: hsl(var(--clr-primary-800));
	padding-top: 1rem;
	height: 480px;
	position: relative;
}

.hero {
	padding-top: 4rem;
	position: relative;
	z-index: 2;
}

.main-img {
	position: absolute;
	z-index: 10;
	min-width: 250px;
	max-width: 480px;
	object-fit: cover;
	right: 50%;
	transform: translateX(50%);
	bottom: -35%;
}

@media (min-width: 40em) {
	header {
		height: 540px;
	}

	.hero {
		padding-top: 3.5rem;
	}
}

@media (min-width: 60em) {
	header {
		height: 730px;
		padding-top: 3.5rem;
	}

	.main-img {
		max-width: 700px;
		bottom: -40%;
	}
}

.bullets {
	background-color: hsl(var(--clr-primary-200));
	padding-block: 9rem 4.5rem;
	margin-inline: auto;
	position: relative;
	margin-bottom: 3rem;
}

.bullets::after {
	background-color: hsl(var(--clr-primary-200));
}

.bullet-list {
	margin: 0;
	align-self: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2.5rem;
}

.bullet {
	font-family: var(--ff-serif);
	font-size: var(--fs-500);
	font-weight: var(--fw-600);
	border: 1px solid hsl(var(--clr-primary-700));
	border-radius: 100%;
	aspect-ratio: 1/1;
	width: 3rem;
	height: 3rem;
	display: grid;
	place-content: center;
	margin-inline: auto;
}

.bullet-title {
	margin-block: 1.5rem 1rem;
}

@media (min-width: 40em) {
	.bullets {
		padding-block: 12rem 6rem;
	}

	.bullets .wrapper {
		padding-inline: 6rem;
	}

	.bullet-list {
		gap: 2.5rem;
		margin: 0 auto;
		text-align: left;
	}
}

@media (min-width: 40em) and (max-width: 50em) {
	.bullet-list {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	}

	.bullet-item {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 2rem;
		align-items: center;
	}
}

@media (min-width: 50em) {
	.bullets {
		padding-bottom: 10.75rem;
	}
}

.cta {
	/* outline: 1px solid hotpink; */
	/* display: flex; */
	/* flex-direction: column-reverse; */
	/* align-items: center; */
	/* padding-top: clamp(7rem, 30vw, 22rem); */
	/* padding-bottom: clamp(5rem, 20vw, 7rem); */
	padding-block: 6rem 4rem;
}

.cta-text {
	text-align: center;
	background-color: hsl(var(--clr-primary-800));
	color: hsl(var(--clr-primary-100));
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: -3rem;
	position: relative;
	z-index: 10;
}

.cta-img {
	max-width: 281px;
	margin-inline: auto;
}

@media (min-width: 40em) {
	.cta-img {
		margin-right: auto;
		align-self: left;
		margin-right: calc(90vw - 281px);
	}

	/* Op te lossen: image zit niet in de grid? */

	.cta .wrapper {
		display: grid;
		gap: 0;
		grid-template-columns: minmax(175px, 380px) minmax(375px, 1fr);
	}

	.cta-text {
		text-align: left;
		margin-top: 11rem;
	}

	.cta-text .btn-primary {
		/* display: inline; */
		max-width: max-content;
	}
}

/* @media (min-width: 40em) {
	.cta {
		flex-direction: column;
	}

	.cta {
		top: 0;
		left: 0;
		translate: 0 -50%;
	}

	.cta .wrapper {
		align-self: flex-end;
		max-width: clamp(32.125rem, 70vw, 69.5rem);
	}

	.cta-text {
		text-align: left;
	}

	.cta-text .btn-primary {
		align-self: start;
	}
} */

footer {
	margin-bottom: 4rem;
}

footer .wrapper {
	gap: 3.5rem;
}

.links-container {
	margin-block: unset;
	gap: 1.75rem;
}

.links-container li {
	cursor: pointer;
}

a:hover svg {
	stroke: hsl(var(--clr-primary-800));
}

/* Buttons */
.btn {
	cursor: pointer;
	transition: all ease-in 0.3s;
	display: inline-block;
}

.btn-primary {
	font-size: var(--fs-400);
	font-weight: var(--fw-700);
	background-color: hsl(var(--clr-accent-400));
	border: 2px solid hsl(var(--clr-accent-400));
	color: hsl(var(--clr-primary-800));
	padding: 0.75rem 1.5rem;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: hsl(var(--clr-primary-800));
	color: hsl(var(--clr-accent-400));
}

.btn-secondary {
	border-bottom: 2px solid hsl(var(--clr-accent-400));
	color: hsl(var(--clr-primary-100));
}

.btn-secondary:hover,
.btn-secondary:focus {
	color: hsl(var(--clr-accent-400));
}

/* ---------------------------  */
/* Page Specific                */
/* ---------------------------  */

/* Wave */
.wave {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 2;
}

.wave svg {
	position: relative;
	display: block;
	width: calc(283% + 1.3px);
	height: 40px;
}

.shape-fill-dark {
	fill: hsl(var(--clr-primary-800));
}

.shape-fill-light {
	fill: hsl(var(--clr-primary-200));
}

.bullets + .wave {
	bottom: 0;
}

@media (min-width: 50em) {
	.wave svg {
		height: 112px;
	}
}
