/* ----------------  */
/* Custom Properties */
/* ----------------  */

:root {
	--clr-accent-400: 150, 100%, 63%;

	--clr-primary-100: 0, 0%, 100%;
	--clr-primary-200: 274, 100%, 99%;
	--clr-primary-700: 271, 12%, 34%;
	--clr-primary-800: 273, 85%, 13%;

	--ff-serif: 'Fraunces', serif;
	--ff-sans-serif: 'Manrope', sans-serif;

	--fw-900: 900;
	--fw-700: 700;
	--fw-600: 600;
	--fw-500: 500;
	--fw-400: 400;

	--fs-900: 3rem;
	--fs-800: 2rem;
	--fs-700: 1.75rem;
	--fs-400: 1rem;

	--transition: all 0.5s ease;
}

@media (min-width: 40em) {
	:root {
		--fs-900: 5rem;
		--fs-800: 3.5rem;
		--fs-700: 2rem;
		--fs-600: 1.5rem;
		--fs-400: 1.125rem;
	}
}

/* ----------------  */
/* Reset             */
/* ----------------  */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	text-wrap: pretty;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements which suggests default styling will be removed */
ul,
ol {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* General Styles */
html {
	background-color: var(--clr-primary-100);
}

body {
	font-family: var(--ff-sans-serif);
	font-size: var(--fs-400);
	line-height: 1.75;
	text-align: center;
	color: hsl(var(--clr-primary-800));
}

.wrapper {
	margin-inline: auto;
	width: min(calc(100vw - 2rem), 69rem);
}

main {
	overflow: hidden;
}

@media (min-width: 40em) {
	body {
		line-height: 2;
	}
}

h1,
h2,
h3 {
	font-family: var(--ff-serif);
	font-weight: var(--fw-600);
	line-height: 1;
}

h1 {
	color: hsl(var(--clr-primary-100));
	text-align: center;
	max-width: 40rem;
	margin-bottom: 2rem;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

/* -----------------  */
/* Utility Classes    */
/* -----------------  */

/* General */

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.flex-col {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.place-content-center {
	place-content: center;
}

.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.underline {
	text-decoration: underline;
	text-decoration-color: hsl(var(--clr-accent-400));
	text-decoration-thickness: 0.05em;
}

/* Typography */

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}

.ff-serif {
	font-family: var(--ff-serif);
}

/* ----------------  */
/* Components        */
/* ----------------  */

header {
	background-color: hsl(var(--clr-primary-800));
	padding-top: 1rem;
	height: 480px;
	position: relative;
}

.hero {
	padding-top: 4rem;
	position: relative;
	z-index: 2;
}

.main-img {
	position: absolute;
	z-index: 10;
	width: 250px;
	max-width: 300px;
	object-fit: cover;
	right: 50%;
	transform: translateX(50%);
	bottom: -20%;
}

.header-bg-pattern-left,
.header-bg-pattern-right,
.cta-bg-pattern {
	display: none;
}

@media (min-width: 30em) {
	.main-img {
		min-width: 350px;
	}
}

@media (min-width: 40em) {
	.hero {
		padding-top: 3.5rem;
		height: 540px;
		overflow: hidden;
	}

	.main-img {
		min-width: 480px;
		bottom: -45%;
	}

	.header-bg-pattern-left,
	.header-bg-pattern-right,
	.cta-bg-pattern {
		display: block;
	}

	.header-bg-pattern-left {
		position: absolute;
		top: 45px;
		left: -230px;
	}

	.header-bg-pattern-right {
		position: absolute;
		top: 250px;
		right: -70px;
	}
}

@media (min-width: 60em) {
	header {
		height: 730px;
		padding-top: 3.5rem;
	}

	.main-img {
		min-width: 770px;
		bottom: -25%;
	}

	.header-bg-pattern-left {
		top: 116px;
		left: -150px;
	}

	.header-bg-pattern-right {
		top: 300px;
	}
}

.bullets {
	background-color: hsl(var(--clr-primary-200));
	padding-block: 9rem 4.5rem;
	margin-inline: auto;
	position: relative;
	margin-bottom: 3rem;
}

.bullet-list {
	display: grid;
	gap: 2.5rem;
}

.bullet {
	font-family: var(--ff-serif);
	font-size: var(--fs-500);
	font-weight: var(--fw-600);
	border: 1px solid hsl(var(--clr-primary-700));
	border-radius: 100%;
	aspect-ratio: 1/1;
	width: 3rem;
	height: 3rem;
	display: grid;
	place-content: center;
	margin-inline: auto;
}

.bullet-title {
	margin-block: 1.5rem 1rem;
}

@media (min-width: 40em) {
	.bullets {
		padding-block: 12rem 6rem;
	}

	.bullet-list {
		gap: 1.6rem;
		margin: 0 auto;
	}
}

@media (min-width: 40em) and (max-width: 50em) {
	.bullets .wrapper {
		padding-inline: 6rem;
	}

	.bullet-list {
		text-align: left;
		grid-template-columns: 1fr;
	}

	.bullet-item {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 2rem;
		align-items: center;
	}
}

@media (min-width: 50em) {
	.bullets {
		padding-bottom: 10.75rem;
	}

	.bullet-list {
		grid-template-columns: repeat(auto-fit, minmax(354px, 1fr));
	}
}

@media (min-width: 71em) {
	.bullet-list {
		grid-template-columns: repeat(3, minmax(354px, 1fr));
	}
}

.cta {
	padding-block: 6rem 4rem;
}

.cta-text {
	text-align: center;
	background-color: hsl(var(--clr-primary-800));
	color: hsl(var(--clr-primary-100));
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: -3rem;
	position: relative;
	z-index: 10;
}

.cta-img {
	max-width: 281px;
	margin-inline: auto;
}

@media (min-width: 40em) {
	.cta .wrapper {
		display: grid;
		gap: 0;
		grid-template-columns: 180px minmax(375px, 1fr);
		position: relative;
	}

	.cta-text {
		text-align: left;
		margin-top: 11rem;
	}

	.cta-text .btn-primary {
		max-width: max-content;
	}

	.cta-bg-pattern {
		position: absolute;
		right: 0;
		bottom: -75px;
		z-index: 25;
	}
}

@media (min-width: 62.5em) {
	.cta .wrapper {
		grid-template-columns: minmax(281px, 380px) minmax(375px, 1fr);
	}

	.cta-img {
		max-width: 477px;
	}

	.cta-bg-pattern {
		right: 100px;
	}
}

/* Footer */

footer {
	margin-bottom: 4rem;
}

footer .wrapper {
	gap: 3.5rem;
}

.links-container {
	margin-block: unset;
	gap: 1.75rem;
}

.links-container li {
	cursor: pointer;
}

.social-icon {
	width: auto;
	height: 20px;
	fill: hsl(var(--clr-primary-700));
	transition: var(--transition);
}

a:hover .social-icon {
	fill: hsl(var(--clr-primary-800));
	transform: scale(1.1);
}

/* Buttons */
.btn {
	cursor: pointer;
	transition: all ease-in 0.3s;
	display: inline-block;
	font-size: var(--fs-400);
	font-weight: var(--fw-700);
	padding: 0.75rem 1.5rem;
}

.btn-primary {
	background-color: hsl(var(--clr-accent-400));
	border: 2px solid hsl(var(--clr-accent-400));
	color: hsl(var(--clr-primary-800));
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: hsl(var(--clr-primary-800));
	color: hsl(var(--clr-accent-400));
}

.btn-secondary {
	padding-inline: 0;
	border-bottom: 2px solid hsl(var(--clr-accent-400));
	color: hsl(var(--clr-primary-100));
}

.btn-secondary:hover,
.btn-secondary:focus {
	color: hsl(var(--clr-accent-400));
}

/* ---------------------------  */
/* Page Specific                */
/* ---------------------------  */

/* Wave */
.wave {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 2;
}

.wave svg {
	position: relative;
	display: block;
	width: calc(283% + 1.3px);
	height: 40px;
}

.shape-fill-dark {
	fill: hsl(var(--clr-primary-800));
}

.shape-fill-light {
	fill: hsl(var(--clr-primary-200));
}

.bullets + .wave {
	bottom: 0;
}

@media (min-width: 50em) {
	.wave svg {
		height: 112px;
	}
}
