/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* Variables */
:root {
	--clr-accent-400: #44ffa1;

	--clr-primary-100: #ffffff;
	--clr-primary-200: #fcf8ff;
	--clr-primary-700: #584d62;
	--clr-primary-800: #24053e;

	--ff-serif: 'Fraunces', serif;
	--ff-sans-serif: 'Manrope', sans-serif;

	--fw-900: 900;
	--fw-700: 700;
	--fw-600: 600;
	--fw-500: 500;
	--fw-400: 400;

	--fs-900: clamp(3rem, 2.75rem + 1.09vw, 3.5rem);
	--fs-800: 2rem;
	--fs-700: 1.5rem;
	--fs-600: ;
	--fs-500: ;
	--fs-400: 1rem;
	--fs-300: ;
	--fs-200: ;

	--ff-sans-normal: 'Barlow', sans-serif;

	--transition: all 0.5s ease;

	@media (min-width: 40em) {
		--fs-400: 1.125rem;
	}
}

/* General Styles */
html {
	background-color: var(--clr-primary-100);
}

body {
	font-family: var(--ff-sans-serif);
	font-size: var(--fs-400);
	line-height: 1.75;
	text-align: center;
	color: var(--clr-primary-800);
}

.wrapper {
	margin-inline: auto;
	padding-inline: 1rem;
	width: min(100vw, 90rem);
}

main {
	overflow: hidden;
}

@media (min-width: 40em) {
	body {
		line-height: 2;
	}
}

h1,
h2,
h3 {
	font-family: var(--ff-serif);
	font-weight: var(--fw-600);
	line-height: 1;
}

h1 {
	font-size: clamp(3.13rem, 3.31vw + 2.35rem, 5rem);
	color: var(--clr-primary-100);
	text-align: center;
	max-width: 40rem;
	margin-bottom: 2rem;
}

h2 {
	font-size: clamp(2rem, 2.65vw + 1.38rem, 3.5rem);
}

h3 {
	font-size: clamp(1.75rem, 0.44vw + 1.65rem, 2rem);
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
}

/* Utilities */
.flex {
	display: flex;
}

.grid {
	display: grid;
}

.flex-col {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.place-content-center {
	place-content: center;
}

.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* Page Specific */
header {
	background-color: var(--clr-primary-800);
	padding-block: 1rem 2rem;
	height: 600px;
	position: relative;
}

.hero-container {
	padding-block: 2rem 5rem;
	position: relative;
	z-index: 2;
	/* outline: 2px solid orange; */
}

.hero-container .img {
	position: absolute;
	z-index: 3;
	width: minmax(250px, 700px);
	height: auto;
	object-fit: cover;
	right: 50%;
	transform: translateX(50%);
}

.bullet-container {
	background-color: var(--clr-primary-200);
	padding-block: 4rem 10rem;
	margin-inline: auto;
	position: relative;
	margin-bottom: 3rem;
}

.bullet-container::after {
	background-color: var(--clr-primary-200);
}

.bullet-list {
	padding-top: 12rem;
	margin-block: unset;
	margin-inline: auto;
	align-self: center;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2.5rem;
}

.bullet {
	font-family: var(--ff-serif);
	font-size: 1.25rem;
	font-weight: 600;
	border: 1px solid var(--clr-primary-700);
	border-radius: 100%;
	aspect-ratio: 1/1;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
}

.bullet-title {
	margin-block: 1.5rem 1rem;
}

.bullet-text {
	font-size: 1rem;
}

@media (min-width: 40em) {
	.bullet-list {
		gap: 2.5rem;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	}
}

@media (min-width: 40em) and (max-width: 50em) {
	.bullet-container {
		padding-inline: 6rem;
	}

	.bullet-list {
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	.bullet-item {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 2rem;
		align-items: center;
	}
}

@media (min-width: 50em) {
	.bullet-text {
		font-size: 1.125rem;
	}
}

.cta-container {
	outline: 1px solid hotpink;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-top: clamp(7rem, 30vw, 22rem);
	margin-bottom: clamp(5rem, 20vw, 7rem);
}

.cta-container .wrapper {
	padding: clamp(2rem, 5vw, 4rem);
	text-align: center;
}

.cta-text {
	background-color: var(--clr-primary-800);
	color: var(--clr-primary-100);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-block: 2rem;
}

.cta-container {
}

@media (min-width: 40em) {
	.cta-container {
		flex-direction: column;
	}

	.cta-container {
		top: 0;
		left: 0;
		translate: 0 -50%;
	}

	.cta-container .wrapper {
		align-self: flex-end;
		max-width: clamp(32.125rem, 70vw, 69.5rem);
	}

	.cta-text {
		text-align: left;
	}

	.cta-text .btn-primary {
		align-self: start;
	}
}

footer {
	margin-bottom: 4rem;
}

footer .wrapper {
	gap: 3.5rem;
}

.links-container {
	margin-block: unset;
	gap: 1.75rem;
}

.links-container li {
	cursor: pointer;
}

a:hover svg {
	stroke: var(--clr-primary-800);
}

@media (min-width: 40em) {
}

/* Buttons */
.btn {
	cursor: pointer;
	transition: all ease-in 0.3s;
	display: inline-block;
}

.btn-primary {
	font-size: var(--fs-400);
	font-weight: var(--fw-700);
	background-color: var(--clr-accent-400);
	border: 2px solid var(--clr-accent-400);
	color: var(--clr-primary-800);
	padding: 0.75rem 1.5rem;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: var(--clr-primary-800);
	color: var(--clr-accent-400);
}

.btn-secondary {
	border-bottom: 2px solid var(--clr-accent-400);
	color: var(--clr-primary-100);
}

.btn-secondary:hover,
.btn-secondary:focus {
	color: var(--clr-accent-400);
}

/* Utility */

.underline {
	text-decoration: underline;
	text-decoration-color: var(--clr-accent-400);
	text-decoration-thickness: 0.05em;
}

/* Hero Wave */
.hero-wave {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 1;
}

.hero-wave svg {
	position: relative;
	display: block;
	width: calc(283% + 1.3px);
	height: 112px;
}

.hero-wave .shape-fill {
	fill: var(--clr-primary-800);
}
